<div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3">Popular Teachers</h1>
        <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit
          eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
      </div>
      <div class="row g-4">
   <div *ngFor="let teacher of teachersTab" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
 
     
      <app-teacher [y]="teacher"></app-teacher>
    
    </div>
  </div>
    </div>
  </div>