
<div >
    <div class="team-item position-relative">
      <img class="img-fluid rounded-circle w-75"  src={{student.avatar}} alt="">
      <div class="team-text">
        <h3>{{student.firstName}} {{student.lastName}}</h3>
        <p>{{student.role}}</p>
        <div class="d-flex align-items-center">
          <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
 
