
<app-banner [titre]="title"></app-banner>
<!-- Navbar End -->
<!-- Carousel Start -->
<!-- Carousel End -->
<!-- Facilities Start -->
<app-school-service></app-school-service>
<!-- Facilities End -->
<!-- About Start -->
<app-about></app-about>
<!-- About End -->
<!-- Call To Action Start -->

<!-- Call To Action End -->
<!-- Classes Start -->
<app-courses></app-courses>
<!-- Classes End -->
<!-- Appointment Start -->

<!-- Appointment End -->
<!-- Team Start -->
<app-teachers></app-teachers>
<!-- Team End -->
<!-- Testimonial Start -->
<app-say></app-say>
<!-- Testimonial End -->
<!-- Footer Start -->