<div class="container-xxl py-5">
    <div class="container">
      <div class="bg-light rounded">
        <div class="row g-0">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
            <div class="position-relative h-100">
              <img class="position-absolute w-100 h-100 rounded" src="assets/img/call-to-action.jpg"
                style="object-fit: cover;">
            </div>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="h-100 d-flex flex-column justify-content-center p-5">
              <h1 class="mb-4 text-center" style="margin-left: 100px;">Become A Teacher</h1>
              
              <button class="btn btn-primary py-3 px-5" >Register Now<i class="fa fa-arrow-right ms-2"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>